<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>Laboratorio 1</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/lab1.css">
    
  </head>
  <body>