<%include partials/header%>
<div class="container">
  <h1 class="center">Laboratorio 2</h1>
  <div class="row asientos">
    <div class="col s6 l6">
      <h4>Propiedades:</h2>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="https://cdn2.iconfinder.com/data/icons/household-things/64/house_kitchen_table-128.png" alt="" class="circle">
            <span class="title">Cantidad de Asientos</span>
            <p>50 Asientos <br>
             Laboratorio Grande
           </p>
         </li>
         <li class="collection-item avatar">
          <img src="https://cdn2.iconfinder.com/data/icons/snipicons/500/computer-128.png" alt="" class="circle">
          <span class="title">Computadoras</span>
          <p>Equipadas con programas basicos <br>

          </p>
        </li>
        <li class="collection-item avatar">
          <img src="https://cdn2.iconfinder.com/data/icons/snipicons/500/microphone-128.png" alt="" class="circle">
          <span class="title">Microfono</span>
          <p>Marca: Bose <br>

          </p>
        </li>
        <li class="collection-item avatar">
          <img src="https://cdn0.iconfinder.com/data/icons/cinema-and-multimedia/800/datashow-128.png" alt="" class="circle">
          <span class="title">Datashow</span>
          <p>Marca: Dell <br>

          </p>
        </li>
        <li class="collection-item avatar">
          <img src="https://cdn2.iconfinder.com/data/icons/mixed-1st-volume/512/tabla-128.png" alt="" class="circle">
          <span class="title">Pizarra</span>
          <p>Material: Formica <br>

          </p>
        </li>
      </ul>
    </div>
    <div class="col l6">
      <div class="card" style="margin-top: 15.5%;">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2013/09/11/00/28/language-lab-181083_960_720.jpg" alt="">
        </div>
      </div>    
    </div>
  </div>

 <a class="waves-effect waves-light btn modal-trigger" style="margin-left: 40%;" data-target="modal1">Hacer Reservacion</a>

  <div id="modal1" class="modal" style="max-height: 90%;">
    <div class="modal-content">
      <h4>Información de la Reservación</h4>

      <div class="row">
        <form class="col s12" action="/laboratorio1" method="POST">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="nombreEvento" type="text" class="validate">
              <label for="nombreEvento">Nombre del evento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="organizacion" type="text">
              <label for="organizacion">Organización del evento</label>
            </div>
          </div>       
          <div class="row">
            <div class="input-field col s12">
              <textarea id="propositoEvento" type="text" class="materialize-textarea"></textarea>
              <label for="propositoEvento">Proposito del evento</label>
            </div>
          </div>  
          <div class="row">
            <div class="input-field col s6">
              <input type="date" class="datepicker" id="fechaInicio">
              <label for="fechaInicio">Fecha de Inicio</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" id="fechaFinal">
              <label for="fechaFinal">Fecha Final</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
            <input type="text" id="horaInicio">
              <label for="horaInicio">Hora de Inicio</label>
            </div>
            <div class="input-field col s6">
              <input type="text" id="horaFinal">
              <label for="horaFinal">Hora Final</label>
            </div>
          </div>
          <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-light btn">Submit</a>
          </div>      
        </form>
      </div>
    </div>
    
  </div>
</div>


<%include partials/footer%>