<%include partials/header%>
<div class="container center">
  <h1>Laboratorio 12</h1>
  <div class="row asientos">
    <div class="col s6">
      <p class="asientos"># de Asientos</p>
    </div>
    <div class="col s6">
      <label class="asientos" for="asientos">0</label>
    </div>
  </div>

  <div class="row recursos">
    <div class="col s6">
      <table>
        <thead>
          <tr>
            <th>Recursos del laboratorio 1</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>Pantalla</td>
          </tr>

          <tr>
            <td>Marcadores</td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>

  <a class="waves-effect waves-light btn">Hacer Reservacion</a>

</div>


<%include partials/footer%>